@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Anton:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,500,700");
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');


@font-face {
  font-family: 'Gotham-Light';
  src:
    url("../../../fonts/Gotham/Gotham-Light.woff") format("woff2"),
    url("../../../fonts/Gotham/Gotham-Light.woff") format("woff"),
    url("../../../fonts/Gotham/Gotham-Light.eot") format("embedded-opentype"),
    url("../../../fonts/Gotham/Gotham-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Gotham-Regular';
  src:
    url("../../../fonts/Gotham/Gotham-Regular.woff") format("woff2"),
    url("../../../fonts/Gotham/Gotham-Regular.woff") format("woff"),
    url("../../../fonts/Gotham/Gotham-Regular.eot") format("embedded-opentype"),
    url("../../../fonts/Gotham/Gotham-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Gotham-Black';
  src:
    url("../../../fonts/Gotham/Gotham-Black.woff2") format("woff2"),
    url("../../../fonts/Gotham/Gotham-Black.woff") format("woff"),
    url("../../../fonts/Gotham/Gotham-Black.eot") format("embedded-opentype"),
    url("../../../fonts/Gotham/Gotham-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Gotham-Bold';
  src:
    url("../../../fonts/Gotham/Gotham-Bold.woff2") format("woff2"),
    url("../../../fonts/Gotham/Gotham-Bold.woff") format("woff"),
    url("../../../fonts/Gotham/Gotham-Bold.eot") format("embedded-opentype"),
    url("../../../fonts/Gotham/Gotham-Bold.ttf") format("truetype");
}
