a {
  color: #325181;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:focus {
  box-shadow: unset;
  outline: none !important;
}

[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: none;
}

textarea:focus, input:focus, .checkbox {
  outline: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.custom-select:focus {
  border: 1px solid #ced4da;
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  border-color: initial;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none !important;
}

.custom-control {
  padding-left: 0;
}
